.app {
  background-color: lightgrey;
  display: grid;
  place-items: center;
  height: 100vh;
}
.app-body {
  background-color: white;
  height: 90vh;
  width: 90vw;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
